body {
   background-color: rgb(253, 253, 253);
   font-family: 'Times New Roman', Times, serif;
   margin: 0;
   padding: 0;
}

.logocatolica {
   display: flex;
   height: 150px;
   justify-content: center;
   margin-bottom: 20px;
}

nav {
   background-color: rgb(128, 52, 52);
}

.menu {
   list-style-type: none; 
   padding: 0;
   margin: 0;
   display: flex; 
   justify-content: center;
   background-color: rgb(128, 52, 52);
   font-family: 'Times New Roman', Times, serif;
}

.menu li {
   position: relative; 
   margin: 0 15px;
   font-family: 'Times New Roman', Times, serif;
}

.menu a {
   color: white;
   text-decoration: none; 
   padding: 15px; 
   display: block; 
   font-family: 'Times New Roman', Times, serif;
   font-size: 25px;
}

.menu a:hover {
   background-color: rgb(189, 127, 127); 
}

.submenu {
   display: none; 
   position: absolute; 
   background-color: rgb(128, 52, 52);
   list-style-type: none; 
   padding: 0;
   margin: 0;
   font-family: 'Times New Roman', Times, serif;
   z-index: 1; 
   font-size: 15px;
}

.menu li:hover .submenu {
   display: block; 
}

.submenu li {
   margin: 0; 
}

.submenu a {
   padding: 10px 15px;
   white-space: nowrap; 
}

.submenu a:hover {
   background-color: rgb(189, 127, 127); 
}

.card-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;
}

.card {
   background-color: rgb(128, 52, 52);
   border-radius: 30px;
   padding: 20px;
   width: 70%;
   margin: 50px auto;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-content h3 {
   text-align: center;
   display: flex;
   justify-content: center;
}

.welcome {
   font-size: 66px;  
   color: rgb(210, 191, 191);
   margin-right: 15px; 
}

.title {
   font-size: 38px; 
   font-style: italic; 
   color: rgb(255, 255, 255);
}
#i {
   font-size: 25px;
}

p {
   text-align: center;
   font-size: 27px;
   color: rgb(255, 253, 253);
}

.logica-section {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 50px 0;
}

.logica {
   background-color: rgb(222, 221, 221);
   border-radius: 30px;
   padding: 20px;
   margin: 10px;
   width: calc(45% - 20px); 
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#p1 {
   color: rgb(6, 6, 6);
}

.logica-content h2 {
   text-align: center;
   color: rgb(128, 52, 52);
   font-size: 30px;
}

h1 {
   color: rgb(8, 8, 8);
   font-size: 30px;
}

h4 {
   color: rgb(96, 95, 95);
   font-size: 25px;
}

.button {
   display: inline-block;
   padding: 10px 20px;
   font-size: 20px;
   color: white;
   background-color: rgb(128, 52, 52); 
   border: none;
   border-radius: 15px; 
   text-decoration: none; 
   text-align: center;
   cursor: pointer;
}

.button:hover {
   background-color: rgb(96, 95, 95);
}

#code {
   width: 100%;
   border-radius: 30px;
   margin-bottom: 1%;
}

h5 {
   color: rgb(128, 52, 52);
   font-size: 70px;
}

.algoritimo-section {
   display: flex;
   justify-content: center;
}

.algo {
   flex: 1;
   padding: 20px;
}

.algoritmodois-section {
   background-color: #ffffff; 
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); 
   max-width: 500px; 
   margin: auto; 
}

#ooi {
   padding-left: 20px; 
   list-style-type: decimal; 
}

#oi {
   margin: 10px 0; 
}

footer {
   text-align: center;
   padding: 20px;
   background-color: rgb(128, 52, 52);
   color: rgb(255, 255, 255);
}
#final {
   color: aliceblue;
}